node_modules

build/*
!build/plotcss.js
!build/README.md

dist/*.LICENSE.txt
dist/*.css

# Ignore local dev mocks/baselines
test/image/**/dev_*.*

npm-debug.log*
*.sublime*
*~
tags

.*
!.github/
!.gitignore
!.npmignore
!.nvmrc
