node_modules

build/*
!build/plotcss.js
!build/README.md

dist/*.LICENSE.txt
dist/*.css
dist/*.js
dist/*.min.js
dist/plot-schema.json
dist/translation-keys.txt

npm-debug.log*
*.sublime*
*~
tags

.*
!.circleci
!.github/
!.gitignore
!.npmignore
