node_modules
_site

__pycache__

build/*
!build/plotcss.js
!build/README.md

dist/*.LICENSE.txt
dist/*.css

npm-debug.log*
*.sublime*
*~
tags

.*
!.circleci
!.github/
!.gitignore
!.npmignore

docs/tmp/
docs/build/