# Exclude all hidden files and folders
.*

# Exclude all files in build/, except for plotcss.js and README.md
build/*
!build/plotcss.js
!build/README.md

# Exclude these directories
devtools
dist/extras
draftlogs
stackgl_modules/node_modules
tasks
test
topojson
