{% extends "base.html" %}

{% block site_nav %}

  <!-- Main navigation -->
  {% if nav %}
    {% if page and page.meta and page.meta.hide %}
      {% set hidden = "hidden" if "navigation" in page.meta.hide %}
    {% endif %}
    <div
      class="md-sidebar md-sidebar--primary"
      data-md-component="sidebar"
      data-md-type="navigation"
      {{ hidden }}
    >
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          {% include "partials/nav.html" %}
        </div>

        <div class="nav-bottom-image">
            <a href="https://plotly.com/webinars/data-apps-publishing-playbook/?utm_medium=graphing_libraries&utm_campaign=plotly_publishing_playbook&utm_content=sidebar" target="_blank">
                <img src="https://images.prismic.io/plotly-marketing-website-2/aNMW2J5xUNkB1CWg_PlotlyPublishingPlaybook.jpg?auto=format,compress" alt="plotly-studio-banner" type="image/avif">
            </a>
        </div>
      </div>
    </div>
  {% endif %}

  <!-- Table of contents -->
  {% if not "toc.integrate" in features %}
    {% if page and page.meta and page.meta.hide %}
      {% set hidden = "hidden" if "toc" in page.meta.hide %}
    {% endif %}
    <div
      class="md-sidebar md-sidebar--secondary"
      data-md-component="sidebar"
      data-md-type="toc"
      {{ hidden }}
    >
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          {% include "partials/toc.html" %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
<blockquote>
    <p><strong>Plotly Studio:</strong> Transform any dataset into an interactive data application in minutes with AI. <a
            href="https://plotly.com/studio/">Try
            Plotly Studio now</a>.</p>
</blockquote>
<br>
{{ super() }}

{% if not page.url.startswith('reference/') %}
    <h2>What About Dash?</h2>
    <p><a href="https://dash.plotly.com/">Dash</a> is an open-source framework for building analytical applications,
        with no Javascript required, and it is tightly integrated with the Plotly graphing library.</p>
    <p>Learn about how to install Dash at <a
            href="https://dash.plotly.com/tutorial?utm_medium=graphing_libraries&utm_content=python_footer&_gl=1*3jyro3*_gcl_au*MTU5NjgzODk0NC4xNzU2OTk2NTI5*_ga*MTI3ODM0MzI1Mi4xNzQ3NzUxOTA5*_ga_6G7EE0JNSC*czE3NTg1NzAzMDgkbzI2JGcxJHQxNzU4NTcwOTg1JGo1MSRsMCRoMA..">https://dash.plotly.com/installation</a>.
    </p>
     <p>Everywhere in this page that you see <code>fig.show()</code>, you can display the same figure in a Dash application by passing
         it to the figure argument of the <code><a href="https://dash.plotly.com/dash-core-components/graph">Graph</a></code> component from the built-in <code>dash_core_components</code> package like this:</p>
    <pre><code>import plotly.graph_objects as go # or plotly.express as px
fig = go.Figure() # or any Plotly Express function e.g. px.bar(...)
# fig.add_trace( ... )
# fig.update_layout( ... )

from dash import Dash, dcc, html

app = Dash()
app.layout = html.Div([
    dcc.Graph(figure=fig)
])

app.run(debug=True, use_reloader=False)  # Turn off reloader if inside Jupyter</code></pre>
     <p><a class="bottom-dash-img"
             href="https://dash.plotly.com/tutorial?utm_medium=graphing_libraries&utm_content=python_footer&_gl=1*3jyro3*_gcl_au*MTU5NjgzODk0NC4xNzU2OTk2NTI5*_ga*MTI3ODM0MzI1Mi4xNzQ3NzUxOTA5*_ga_6G7EE0JNSC*czE3NTg1NzAzMDgkbzI2JGcxJHQxNzU4NTcwOTg1JGo1MSRsMCRoMA.."><img
                 src="https://plotly.github.io/documentation/all_static/images/plotly-studio.png" alt="Dash your way to interactive web apps"
                 style="max-width: 100%; height: auto;"></a></p>
{% endif %}

{% endblock %}