/*********** VERTICAL TOOLPANEL ***************/

.toolpanel{
  display: block;
  min-height: 100%;
  width: 120px;
  margin-right: 10px;
  border-right: 1px solid #a3a9b7;
  float: left;
}

.toolpanel ul{
  padding: 0;
  margin: 0;
}

.toolpanel li{
  list-style: none;
  margin: auto;
}

.toolpanel a{
  text-decoration: none;
  font-family: 'Open Sans', verdana, arial, sans-serif;
}

.toolpanel p{
  margin: 0;
}

.tool-container{
  display: block;
  height: auto;
  justify-content: flex-start;
  flex-direction: row;
  width: 120px;
  float: left;
}

.tool{
  display: block;
  height: 60px;
  margin: auto;
  text-align: left;
  color: #69738a;
  background-color:#fafafb;
  padding-right: 3px;
  padding-left: 10px;
  border-bottom: 1px solid #a3a9b7;
}

.tool:hover{
  background-color: #c4c6cf;
  color: #69738a;
}

.tool:before, tool:after{
  box-sizing: border-box;
}

.tool i{
  line-height: 60px;
  display: inline;
  vertical-align: middle;
  margin-right: 5px;
}

.tool p{
  line-height: 60px;
  display: inline;
  vertical-align: middle;
}

.plot-container{
  margin-left: 130px;
}
