body {
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', verdana, arial, sans-serif;
}


input, button {
    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.crisp { shape-rendering: crispEdges; }
svg a { fill: $color-brand-primary; }
svg a:hover { fill: #3c6dc5; }
