

/*-----------------------------  Shared layout  -----------------------------*/

body {
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', verdana, arial, sans-serif;
}

html.base-generic {
    height: 100%;

    #main {
        border-top: 1px solid;
        margin-bottom: 2 * $base-spacing-unit;
    }

    #main-inner {
        max-width: 1000px;
        margin: 0 auto;
    }
}

html.user-home {
    #main-inner {
        margin-top: 20px;
    }
}

html.base-marketing {
    #main-inner {
        max-width: 100%;
    }
    #splash-header {
        z-index:-10;
        opacity: 0.10;
        position: relative;
        overflow: hidden;
    }
    #main img {
        border-radius:3px;
    }
}

html.is-shareplot {
    #main-inner {
        max-width: 1000px;
        margin: 0 auto;
    }
}

html.workspace {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden !important;

    body {
        width: 100%;
        overflow: hidden;
    }
}

html.learn {
    #main-wrapper {
        min-height: 800px;
        height: 100%;
    }
    #main {
        background: url('/static/learn/images/learn_splash/background_long.png') center center;
        background-repeat: none;
        background-size: 100% 100%;
        height: 100%;
    }

    #main-inner {
        max-width: 80%!important;
        margin-bottom: 50px!important;
    }
}

#main-wrapper {
    padding-bottom: 30px;
    margin: 0 auto -70px;
}

#footer {
    //height: 104px;
}

/*------------------------------  App layout  -------------------------------*/

#loading {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10000;
}
#loading-bar {
    margin: 0 auto;
    top: 25%;
    text-align: center;
    width: 300px;
}

#layout-container {
    height: 100%;
    width: 100%;
}

.tab-panel {
    white-space: nowrap;
}

.file-and-comments {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    white-space: normal;
}

.files-container, .grid-container, .script-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.load-more-files-container{
    padding: 10px;
    text-align: center;
}

.gridcols {
    /* height: 900px; */
    /* width: 900px; */
    overflow: scroll;
    border: 1px solid;
}

.grid-container, .script-container, .filewell-container {
    padding: 20px 40px 40px 40px;
}

.filewell-container {
    white-space: normal;
}

.files__inner {
    position: relative;
    height: 100%;
    border: 1px solid;
}

.files__tree-container {
    overflow: auto;
    height: 100%;
}

files__thumb-container{
    padding: 4px;
    padding-top: 40px;
}

.plot-container {
    &.workspace-plot {
        height: 100%;
        text-align: center;
        padding: 5px 15px 20px 15px;
        overflow: auto;
        font-size: 0;

        .svg-container {
            font-size: 14px;
            display: inline-block;
            vertical-align: middle;
            border: 1px solid;
        }

        &:before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }

        &.is-fixed-size:before {
            display: inline;
            height: 0;
        }
    }
}

.grid-sourcelinks {
    position: absolute;
    right: 40px;
    top: 0px;
    font-size: 12px;
}

.comments-container {
    z-index: 3;
    width: 250px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#command-line {
    height: 180px;
    width: 490px;
    left: 40px;
    bottom: 40px;
    display: none;
    z-index: 9;
    overflow: hidden;
    position: absolute;
    border: 1px solid;
    cursor: -moz-grab;
    cursor: -moz-grabbing;
    cursor: -webkit-grab;
    cursor: move;
}

/*-----------------------------  Splash layout  -----------------------------*/

#above-fold {
    position: relative;
    width: 100%;
    max-height: 1000px;
    overflow: hidden;
}

#splash-header__logo-container {
    float: left;
}

#banner__img {
    max-height: 500px;
    opacity: 0;
    transition: opacity 500ms ease;
    -webkit-transition: opacity 500ms ease;
}

#above-fold__bottom {
    padding: 10px 0 10px 0;
    text-align: center;
    opacity: 0;
    transition: opacity 500ms ease;
    -webkit-transition: opacity 500ms ease;
}

@media only screen and (max-width: 400px) {
    #banner__img {
        display: none;
    }

    #above-fold__bottom {
        position: static;
    }

    #above-fold {
        height: auto;
    }
}


@media only screen and (max-height: 500px) {
    #banner__img {
        display: none;
    }

    #above-fold__bottom {
        position: static;
    }

    #above-fold {
        height: auto;
    }
}

#more {
    position: relative;
}

#more > * {
    padding-left: 20px;
    padding-right: 20px;
}

/*---------------------------  Shareplot layout  ----------------------------*/

.is-shareplot {
}

/*"is-standalone" will be phased out, leaving in for now to not fuck up current shareplot*/
.is-standalone {
    #embedded-graph {
        text-align: center;
        padding: 0 0 0 180px;

        .svg-container {
            margin: 0 auto;
        }

        #comment-block {
            display: inline-block;
        }
    }

    #banner, #sidebar {
        display: block;
    }

    #sidebar {
        position: absolute;
        min-width: 100px;
        top: 0;
        left: 0;
        padding: $base-spacing-unit $base-spacing-unit $base-spacing-unit $base-spacing-unit;
        z-index: 1;
        margin-top: 40px;
    }

    #top-bar{
        display: block;
    }



    body {
        background: whitesmoke;
    }

    .svg-container{
        box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px, rgba(0, 0, 0, 0.14902) 0px 1px 5px;
    }
}

.is-iframe {
    #sidebar {
        display: none;
    }

    #embedded-graph {
        padding: 0;

        .svg-container {
            float: none;
        }
    }

    #message--banner {
        display:none;
    }

}

#embedded-graph {
    position: relative;
    margin-top: 0px;
}

#top-bar{
    display: none;
}

#comment-block{
    display: none;
    margin: $base-spacing-unit 0px;
    min-height: 100px;
    width: 100%;
}

/* Comment stuff - move this somwhere else? */

#shared-comments-container{
    width: 50%;
    min-width: 300px;
    max-width: 530px;
    min-height: 150px;
    display: inline-block;
    text-align: left;
    background: rgb(227,227,227);
    position: relative;
}

.comment-bar{
    background: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 4px;
    box-shadow: rgba(0,0,0,0.09804) 0px 0px 1px,rgba(0,0,0,0.14902) 0px 1px 5px;
    min-height: 48px;
}

.star-button{
    height: 34px;
    width: 43px;
    margin: 8px;
    font-size: 26px;
    color: #666;
    padding: 4px;
    cursor: pointer;
    transition: color 0.5s ease;
}

.star-button:hover{
    color: magenta;
}

.star-text{
    cursor: pointer;
    transition: color 0.5s ease;
}

.star-text:hover{
    color: magenta;
}

.is-starred{
    color: $color-brand-primary;
}

.is-starred:hover{
    color: $color-brand-primary !important;
}

.comment-input-container{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 8px 8px 8px 50px;

}

.comment-input{
    width: 100%;
    padding: 5px 4px 4px;
}

.vanity-bar{
    color: #aaa;
    min-height: 20px;
    font-size: 12px;
}

.like-list{
    margin-left: 5px;
}

.ll-star{
    font-size:14px;
    margin-right:5px;
}

.ll-name-link{
    font-weight: bold;
    font-family: futura, Open-sans, sans-serif;
}

.ll-name-link:hover{
    text-decoration: underline;
}

/* end of comment stuff */

#banner {
    text-align: center;
    display: none;
    padding: $half-spacing-unit;
    border-bottom: 1px solid;

    background-color: #f3f3f3;
    font-size: 16px;
    border-color: #ccc;

    & > span {
        float: right;
        cursor: pointer;
    }
}

#embed-loading{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.link-to-tool {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.modebar {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 1001;
}

#creator > span{
    color: #444;
    font-weight: 600;
}
