

/*-----------------------------  Helper classes  ----------------------------*/

.show {
    display:block;
}

.hide {
    display:none;
}

.fade {
    opacity:0;
}

.fade {
    opacity:0;
    -webkit-transition:opacity 0.15s linear;
    -moz-transition:opacity 0.15s linear;
    -o-transition:opacity 0.15s linear;
    transition:opacity 0.15s linear;

    &.in {
        opacity: 1;
    }
}

.full-width-box {
    width: 100%;
    margin: 0;
}

.soft-quarter           { padding:        $half-spacing-unit/2 !important; }
.soft-quarter--top      { padding-top:    $half-spacing-unit/2 !important; }
.soft-quarter--right    { padding-right:  $half-spacing-unit/2 !important; }
.soft-quarter--bottom   { padding-bottom: $half-spacing-unit/2 !important; }
.soft-quarter--left     { padding-left:   $half-spacing-unit/2 !important; }
.soft-quarter--ends     { padding-top:    $half-spacing-unit/2 !important; padding-bottom: $half-spacing-unit/2 !important; }
.soft-quarter--sides    { padding-right:  $half-spacing-unit/2 !important; padding-left:   $half-spacing-unit/2 !important; }

.push-quarter--right    { margin-right:   $half-spacing-unit/2 !important; }
.push-quarter--bottom   { margin-bottom:  $half-spacing-unit/2 !important; }


.push-double--left {
    margin-left: 2*$base-spacing-unit !important;
}

.block--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.block--center--img {
    max-height: 100%;
}

.no-resize {
    resize: none;
    overflow: auto;
}

.bold {
    font-weight: 600 !important;
}

.img-with-caption {
    padding: $half-spacing-unit/2 0;
    margin-bottom: $base-spacing-unit;

    img {
        margin-bottom: $half-spacing-unit;
    }
}

.img--border {
    border: 1px solid;
}

.link--img {
    display: block;

    img {
        display: block;
    }
}

/*-----------------------------  Buttons module  ----------------------------*/

.btn {
    display: inline-block;
    cursor: pointer;
    border: none;
}

.btn--icon {
    border: none;
    padding: 3px 4px;
}

.btn--big, .btn--xl {
    padding: 15px;
}

.btn--med {
    padding: 10px 12px;
}

.btn--small {
    padding: 3px 7px;
}

.btn--plain {
    border: 1px solid;
}

.btn--social {
    padding: 4px;

    img {
        width: 32px;
        height: 32px;
    }
}

.btn--neighbor {
    margin-right: -1px;
}

.btn--input-neighbor {
    height: 31px;
    margin-left: -1px;
    vertical-align: top
}

.btn--tab-tool {
    height: 23px;
    text-align: center;

    .btn--tab-tool__icon {
        display: inline-block;
        vertical-align: middle;
        margin: 0 2px;
    }

    .btn--tab-tool__text {
        display: inline-block;
        vertical-align: middle;
        margin-right: 2px;
    }
}


/*--------------------------  Button group module  --------------------------*/

.btn-group {
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    *margin-left: $half-spacing-unit;

    &:first-child {
        *margin-left: 0;
    }

    & > .btn {
        position: relative;

        &:first-child {
            margin-left: 0;
        }

        & + .btn {
            margin-left: -1px;
        }
    }

    & + .btn-group, & + .btn {
        margin-left: $half-spacing-unit;
    }
}

.btn-group.btn-group--logo {
    -webkit-transform: translate(-5px, 2px);
    transform: translate(-5px, 2px);
    a {
        color: $color-brand-primary;
        font-size: 22px;
    }
}

.btn-group--vertical {
    display: inline-block;
    *display: inline;
    *zoom: 1;

    .btn {
        display: block;
        float: none;
        width: 100%;

        & + .btn {
            margin-left: 0;
            margin-top: -1px;
        }
    }
}


/*-------------------------  Extend the nav module  -------------------------*/

.nav--vertical {
    > li {
        display: list-item;

        > a {
            display: inline-block;
        }
    }
}

.nav--spaced {
    &.nav--vertical {
        > li {
            padding-bottom: $half-spacing-unit;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    &:not(.nav--vertical) {
        > li {
            padding-right: $half-spacing-unit;

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.nav--icon-text-menu {
    > li {
        width: 110px;
        margin: $base-spacing-unit;
    }
}

/*-------------------------  Horizontal nav module  -------------------------*/

.horiz-nav {
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
}

.horiz-nav--right {
    text-align: right;
}

.horiz-nav__list {
    margin: 0;
    padding: 0;

    & > li {
        display: inline-block;
        vertical-align: baseline;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.horiz-nav__list--squeeze {
    & > li {
        margin-right: 12px;
    }
}

.horiz-nav__list--soft {
    & > li {
        padding: 5px;
    }
}

.horiz-nav__link {
    display: inline-block;
    padding: 5px;
}


/*--------  Bootstrap dropdown mods/extensions mods go here for now  --------*/

.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 99999;
    display: none;
    /*float: left;*/
    margin: 0;
    padding: 0;
    left: auto;
    border: 1px solid;
    min-width: 150px;

    li {
        display: block;
        clear: both;
        width: 100%;
        top: 0px !important;
        padding: 0 !important;
        margin: 0 !important;
        line-height: $base-spacing-unit;


        &.no-link {
            width: auto !important;
            padding: 4px 6px !important;
            cursor: default;
        }
    }

    a {
        float: none !important;
        display: block;
        padding: 4px 6px !important;
        margin: 0 !important;
        list-style: none !important;
        text-align: left;
        white-space: nowrap;
        width: 100%;
    }

    i {
        display: inline-block;
        /*padding-top: 3px;*/
        margin-right: 5px;
        vertical-align: middle;
    }

    span {
        display: inline-block;
        vertical-align: middle;
    }
}

.dropdown-menu--right-align {
    right: 0;
}

.dropdown-menu--grouped {

    li ul {
        margin-left: 0;
    }

    li:not(:last-child) ul {
        margin-bottom: 10px;
    }

    li:last-child ul {
        margin-bottom: 0;
    }

    .group-name {
        width: auto !important;
        text-align: left;
        cursor: default;
        float: none !important;
        display: block;
        padding: 6px 6px 3px 6px !important;
        margin: 0 !important;
        list-style: none !important;
        text-align: left;
    }
}

.dropdown-menu--grid {
    & > li {
        clear: none;
        display: inline-block;
        width: auto;
        vertical-align: top;
    }
    li ul {
        margin-left: 0;
    }
}

.dropup, .dropdown {
    position: relative;
}

.dropdown-toggle {
    *margin-bottom: -3px;
}

.dropdown-toggle:active, .open .dropdown-toggle {
    outline: 0;
}

.dropdown-toggle--fixed-width {
    width: 165px !important;

    .caret {
        float: right;
        margin: 8px 0;
    }
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: '';
    margin-left: 5px;
}

.dropdown .caret {
    margin-left: 2px;
}

.open{
    *z-index: 1000;
}

.open > .dropdown-menu {
    display: block;
}

/*-----------------  Add components to Inuit "grid" object  -----------------*/

.grid__tile {
    display: block;
    padding: 0;
    margin: 0;
}

/*-----------------  Content-editable mods go here for now  -----------------*/

.contenteditable-wrapper {
    display: inline-block;
}

/*----------------  Bootstrap popover mods go here for now  -----------------*/

.popover.editbox {
    /*margin-top: 25px;*/
}

/*------------------------------  Modal module ------------------------------*/
/* keep using bootstrap's .modal class because that's what connects to the js*/

.modal-open .modal .dropdown-menu{z-index:2050;}
.modal-open .modal .dropdown.open{*z-index:2050;}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
}
.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop {
    &.fade.in {
        opacity: 0.8;
        filter: alpha(opacity=80);
    }
}

.modal {
    position: fixed;
    max-height: 600px;
    top: 20px;
    left: 50%;
    z-index: 1050;
    overflow: auto;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    box-shadow: 0px 0px $base-spacing-unit rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px $base-spacing-unit rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px $base-spacing-unit rgba(0, 0, 0, 0.2);

    &.fade {
        -webkit-transition: opacity .3s linear,  top .3s ease-out;
        -moz-transition: opacity .3s linear,  top .3s ease-out;
        -o-transition: opacity .3s linear,  top .3s ease-out;
        transition: opacity .3s linear,  top .3s ease-out;
    }
}

.modal--big {
    width: 900px;
    margin: 0 0 0 -450px;
}

.modal--default {
    width: 500px;
    margin: 0 0 0 -250px;
}

.modal--narrow {
    width: 310px;
    margin: 0px 0 0 -155px;
}

.modal-fixed--height {
    max-height: 600px;
}

.modal__header {
    margin: 0;
    padding: 15px $base-spacing-unit 15px $base-spacing-unit;
}

.modal__body {
    margin: 0 $base-spacing-unit;
}

.modal__section-heading {
    margin: 0 0 10px 0;
}

.modal__section:not(:last-child) {
    margin-bottom: $base-spacing-unit;
}

.modal__block:not(:last-of-type) {
    margin: 0 0 10px 0;
}

.modal__block--inner {
    padding: 15px;
    overflow: hidden;
    clear: both;
}

.modal__footer {
    padding: $base-spacing-unit;
    text-align: right;
}

.close {
    float: right;
    padding: 5px 10px;
}

.signup-modal-border--left {
    border-left:solid;
    border-width:1px;
    border-color:rgba(0,0,0,0.2);
}

/*------------------------------  Alert module  ----------------------------*/

.alert {
    width: 240px;
    position: absolute;
    top: 50px;
    right: 50px;
    margin-top: 85px;
    margin-right: 25px;
    border: 1px solid;
    z-index: 100;
}

.alert__contents {
    margin: 0;
    padding: $base-spacing-unit;

    i {
        margin-right: 5px;
    }
}


/*----------------------------  Notifier module  ----------------------------*/

.notifier-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3000;
}

.notifier {
    min-width: 180px;
    max-width: 250px;
    border: 1px solid;
    z-index: 3000;
    margin: $base-spacing-unit;
}

/*-----------------------------  Thumbnail module  ----------------------------*/

.thumbnail {
    width: 50px;
    height: 50px;
    border: 1px solid;
}

.thumbnail-label-display{
    text-align: right;
    margin: 5px 0px;
    margin-right: 40px;
}

.thumbnail-label-display > .close{
    left: 50%;
    margin-left: 40px;
}

/*-------------------------------  Helpers...  ------------------------------*/

/*USE ONLY IF THIS IS THE ONLY RULE TO APPLY TO AN ELEMENT!!! */
.pos-rel {
    position: relative;
}


/*-----------------------  Plot-specific stuff module  ----------------------*/

.legend, .anndrag {
    cursor: move;
}

.legendtext {
    cursor: text;
}

.zoombox {
    position: absolute;
    z-index: 2000;
    width: 0px;
    height: 0px;
}

/*---------------------------  Header-bar module  ---------------------------*/

.header-bar--secondary {
    border-top: 1px solid;
    text-align: center;
    position: relative;
}

.header-bar__pinned--right {
    position: absolute;
    right: $half-spacing-unit;
    top: 25%;
}

.header-bar__inner {
    /*max-width: 1000px;*/
    margin: 0 auto;
    padding: $half-spacing-unit / 3;
}

.header-bar__inner--breadcrumb {
    padding: $half-spacing-unit/2 + 5px;
}

.header-bar__logo {
    float: left;
    margin-right: 50px;
}

.header-bar__nav {
    float: left;
}

.header-bar__buttons {
    float: right;
    margin-right: 50px;
}

.header-bar__user-stuff {
    float: right;
}


/* -------- Sharing options pills --------- */
.sharingoptions {
    margin: 5px auto;
    padding: 0;
    list-style: none;
    text-align: center;
}

.sharingoptions-title {
    display: inline-block;
    margin-right: 15px;
}

.sharingoptions-option {
    display: inline-block;
    min-width: 75px;
    padding: 5px 10px;
    color: $color-brand-primary;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    margin-right: 15px;
}

.sharingoptions-option:hover {
    background-color: rgba(68, 122, 219, 0.2);
}

.sharingoptions-option.active {
    background-color: $color-brand-primary;
    color: white;
}

.privacy-toggle {
    width:100%;
    padding:5px;
    margin-bottom:5px;
}

.privacy-toggle--active {
    background:$color-brand-primary;
    color:white;
    cursor: default;
}

.block__options {
    cursor: default;
}

.share__options {
    cursor: pointer;
}

/*---------------------------  comments  --------------------------*/

.is-standalone {
    .comments-container{
        width: 100%;
        position: relative;
        margin-bottom: 48px;
    }

    .comments__inbox{
        padding-bottom: 0;
    }
}

.comments {
    height: 100%;
    font-size: 12px;
}

.comments__inbox{
    height: 100%;
    overflow-y: scroll;
}

.comments__comment {
    margin: 10px 10px $base-spacing-unit 10px;
}

.comments__comment-text {
    margin: 0;
}

.comments__author{
}

.comments__avatar {
    display: inline-block;
    float: left;
    margin-right: $half-spacing-unit;

    img {
        height: 30px;
        width: 30px;
    }
}

.comments__body {
    overflow: hidden;
    position: relative;
}

.comments__trash {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 0;
    margin-left: 10px;

    i {
        max-height: 12px;
        opacity: 0.3;
        cursor: pointer;
    }
}

.comments__comment:hover .comments__trash {
    display: block;
}

.comments__ts {
    color: #999;
}

.comments__add-new{
    width: 100%;
    position: absolute;
    height: 175px;
    bottom: 0px;
    right: 0px;
    padding: $base-spacing-unit;

    background: #f3f3f3;
}

.comments__new-comment-input{
    overflow: auto;
    height: 70px;
    width: 100%;
    margin: 0 0 $base-spacing-unit 0;
    resize: none;
    background: white;
}

.comments__submit {
    float: right;
}

.empty-inbox{
    margin-top: 40px;
    text-align: center;
    font-weight: 200;
}

.close-thread{
    position: absolute;
    top: 10px;
    right: 10px;
}

.highlighted {
    border-right: 6px solid $color-brand-primary;
}

#commentbox{
    width: 95%;
    height: 100px;
}

.star-button span:before{
    content:"\2606";
}

.star-button.is-starred span:before{
    content:"\2605";
}
