.modebar {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 1001;
}

.modebar-group {
    float: left;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 10.5px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;

    &:first-child {
        margin-left: 0px;
    }
}


.modebar-btn {
    position: relative;
    font-size: 16px;
    background: white;
    color: #a9b3c7;
    box-shadow: none;
    -webkit-font-smoothing: antialiased;
    border: none;
    padding: 3px 4px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    outline: none;
    line-height: normal;
    box-sizing: border-box;

    &.active, &.hover {
        color: #8C97AF;
    }

    &:first-child {
        margin-left: 0px;
    }

    [class^="ploticon-"]:before {
        font-style: normal !important;
        box-sizing: border-box;
    }
}
