
/*****************************************************************************/
/*                                   Fonts                                   */
/*****************************************************************************/

@font-face {
    font-family: "Balto";
    src: url("/static/fonts/baltoweb-book.eot");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Balto";
    src: url("/static/fonts/baltoweb-book.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

/*****************************************************************************/
/*                               Shared themes                               */
/*****************************************************************************/

/*--------------------------  Ploticon font themes  -------------------------*/

.ploticon {
    font-size: 16px !important;
}

/*---------------------------  Logo module themes  --------------------------*/

.logo {
    font-size: 21px;
    line-height: 30px;

    em {
        font-style: normal;
    }

    sup {
        text-transform: uppercase;
        font-size: 12px;
    }
}

.logo.logo--embed {
    position: fixed;
    top: 5px;
    left: 5px;
    color: #447adb;
    font-size: 18px;

    &:hover {
        color: #3c6dc5;
    }
}

/*------------------------------- Inline messages module ------------------------------*/

.error--inline {
    color: #d55b5b;
    font-style: italic;
}

.success--inline {
    color: #468847;
    font-style: italic;
}

.loading--inline {
    color:#3a87ad;
    font-style: italic;
}

/*-----------------------------  Buttons module  ----------------------------*/

.btn {
    -webkit-font-smoothing: antialiased;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);

    &:focus {
        outline: none !important;
    }

    &.disabled {
        cursor: default;
    }
}

.btn--cta {
    background: $color-brand-primary;
    color: $color-bg-light;

    &:hover {
        background: #3c6dc5;
        color: $color-bg-light;
    }

    &.disabled, &.disabled:hover {
        background: #96b4eb;
    }
}

.btn--cta2 {
    background: #8c97af;
    color: $color-bg-light;
    /*for bootstrap :(*/
    border: none;
    text-shadow: none;

    &:hover {
        background: $color-click;
        color: $color-bg-light;
    }

    &.disabled, &.disabled:hover {
        background: $color-click;
    }
}

.btn--cta3 {
    background: $color-click;
    color: $color-bg-light;
    /*for bootstrap :(*/
    border: none;
    text-shadow: none;
}

.btn--danger {
    background: #FF4136;
    color: white;
    border: none;
    text-shadow: none;

}

.btn--icon {
    box-shadow: none;
}

.btn--border {
    border-color: #bbb;
}

.btn--plot {
    background: white;
    color: $color-brand-tint;

    &:hover, &:active, &.active {
        color: #8C97AF;
    }
}

.btn--xl {
    font-size: 18px;
}

.btn--big {
    font-size: 16px;
}

.btn--med {
    font-size: 14px;
}

.btn--small {
    font-size: 14px;
}

.btn--plain{
    color: #222;
    background: $color-bg-base;
    border-color: #bbb;

    &:hover, &.active {
        background: rgb(230,230,230);
    }
}

.btn--plain--lighter {
    background: $color-bg-light;
}

.btn--social {
    background: $color-bg-light;
    opacity: 0.9;

    &:hover {
        background: $color-bg-light;
        opacity: 1;
    }
}

.btn--tab-tool__icon {
    font-size: 14px !important;
}

.btn--tab-tool__text {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn--input-clear {
    color: #69738a;
    background-color: rgba(0,0,0,0);
    margin-left: -25px;
}


/*----------------------  Dropdown menu module themes  ----------------------*/

.dropdown-menu {
    background: $color-bg-light;
    border-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1) !important;

    &.disabled {
        & > a {
            opacity: 0.6;
        }

        &:hover {
            text-decoration: none;
            background-color: transparent;
            cursor: default;
        }
    }

    li {
        font-size: 12px !important;

        a {
            color: #5D667A;
            font-size: 12px !important;

            &:hover {
                color: $color-bg-light !important;
                background: $color-brand-primary;
            }
        }
    }

    .instruction {
        font-weight: bold;
    }
}

.dropdown-menu--grouped {

    .group-name {
        font-weight: bold;
        text-transform: uppercase;
        color: #aaa;
    }
}

.dropup, .dropdown {
    position: relative;
}

.dropdown-toggle {
    *margin-bottom: -3px;
}

.dropdown-toggle:active, .open .dropdown-toggle {
    outline: 0;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: '';
    margin-left: 5px;
}

.dropdown .caret {
    /*margin-top: 8px;*/
    margin-left: 2px;
}


/*---------------------------  Modal module themes  -------------------------*/
/* keep using bootstrap's .modal and .modal-backdrop classes because that's what connects to the js*/

.modal-backdrop {
    background: #b9cad6;
}

.modal {
    background: $color-bg-light;
}

.modal__header--tinted {
    background: #f5f5f5;
}

.modal__section-heading {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 1em;
}

.modal__block--inner {
    background: #f5f5f5;
}

.close {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20);

    &:hover {
        color:#000000;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.4;
        filter: alpha(opacity=40);
    }
}


/*--------------------------  Alert module themes  --------------------------*/

.alert {
    background-color: #f5f5f5;
    border-color: $color-lines;
}

/*****************************************************************************/
/*                               Pages themes                                */
/*****************************************************************************/

/*--------------------------- Labeled-item module ---------------------------*/

.labeled-item--dramatic {
    .labeled-item__label {
        @extend .beta;
        font-weight: 600;
    }
    .labeled-item__descrip {
        padding: 8px 0;
    }
}

/*------------------------ Pay-attention-text module ------------------------*/

.pay-attention-txt {
    background-color: $color-bg-pay-attention;
    font-weight: 600;
}

/*--------------------------  Content-box module  ---------------------------*/

.content-box--basic {
    background: $color-bg-light;
    border-color: $color-lines;
}

.content-box--overlay {
    background: $color-bg-light;
    background: rgba(255, 255, 255, 0.96);
    border-color: $color-lines;
}

.content-box--header, .content-box--on-white-bg {
    background: $color-bg-hint;
    border-color: $color-lines;
}

.content-box--rev {
    background: $color-bg-base;
    border-color: $color-lines;
}

.content-box--img {
    background: $color-bg-darker;
    border-color: $color-lines;
}

/*****************************************************************************/
/*                                API themes                                 */
/*****************************************************************************/

/*--------------------------  Friendly tip module  --------------------------*/

.friendly-tip {
    background: #ced9ed;
    border-radius: 5px;
}

.friendly-tip__icon {
    color: $color-brand-primary;
    font-size: 24px;
    vertical-align: middle;
}

/*-------------------------  Thumbnail grid module  -------------------------*/

.thumbnail-grid__link {
    &:hover {
        background: $color-bg-darker;

        .thumbnail-grid__img {
            opacity: 0.8;
        }

        .thumbnail__caption {
            color: $color-brand-primary;
        }
    }
}

.thumbnail-grid__img {
    background: #ced9ed;
    color: $color-lines;
    opacity: 1;
}

.thumbnail-grid__caption {
    color: $color-click;
    font-weight: 600;
    font-size: 16px;
}

.thumbnail-grid__caption--bottom {
    font-weight: 400;
}

.thumbnail-grid__link--bare {
    .thumbnail-grid__caption {
        background: $color-bg-base;
    }
}

.thumbnail-grid__link--panel {
    border-color: $color-lines;

    .thumbnail-grid__img {
        border-top-color: $color-lines;
        border-bottom-color: $color-lines;
    }

    .thumbnail-grid__caption {
        background: $color-bg-light;
    }
}

/*****************************************************************************/
/*                                App themes                                 */
/*****************************************************************************/

/*-----------------------------  Layout themes  -----------------------------*/

#loading {
    background: $color-bg-light;
    color: $color-muted-text;
}

#tabs-one-line .ui-tabs-panel {
    background: $color-bg-base;
}

.files__inner {
    background: $color-bg-light;
    border-color: $color-lines;
}

.plot-container {
    &.workspace-plot {
        .svg-container {
            border-color: $color-lines;
        }
    }
}

.gridcols {
    background: $color-bg-light;
    border-color: $color-lines;
}

.comments-container {
    background: transparent;
}

#command-line {
    background: $color-bg-light;
    background: rgba(255, 255, 255, 0.9);
    border-color: $color-brand-primary;
}


/*--------------------------  Command line themes  --------------------------*/

.command-line__input {
    font-family: Consolas, monospace;
    font-size: 14px;
    border-color: $color-lines;
}

.command-line__tog {
    font-size: 24px;
    color: $color-brand-primary;

    i {
        font-weight: bold;
    }

    &:hover {
        color: $color-brand-accent;
    }
}


/*----------------------------  Notifier themes  ----------------------------*/

.notifier {
    background-color: #8c97af;
    background-color: rgba(140, 151, 175, 0.9);
    color: $color-bg-light;
    border-color: $color-bg-light;
}

.notifier__close {
    color: $color-bg-light;
    opacity: 0.8;
}


/*--------------------------  Tooltip alert themes  -------------------------*/

.tooltip-alert {
    background: #fdeeaf;
    border-color: #e3d59d;
    @include arrow(left, center, #fdeeaf, #e3d59d);
}


/*--------------------------  Radio module themes  -------------------------*/

.radio__label {
    font-weight: 600;
    line-height: 1em;
}


/*--------------------------  Checkbox module themes  -------------------------*/

.check__label {
    font-weight: 600;
    line-height: 1em;
}


/*--------------------------  Option module themes  -------------------------*/

.option__label {
    font-weight: 600;
    line-height: 1em;
}

.option__this-choice-more {
    .slider {
        border-color: #bbb;
        background-color: #f5f5f5;

        .ui-slider-handle {
            border-color: #bbb;
        }
    }
}

.option__more-item-label {
    font-size: 12px;
}

/*------------------------  Tool menu module themes  ------------------------*/

.tool-menu {
    background: $color-bg-base;
}

.tool-menu__btn-list {
    & > li {
        & > a {
            font-size: 16px;
            text-align: center;
        }
    }
}

.tool-menu__icon-label {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.tool-menu__label {
    color: $color-click;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    cursor: default;
}


/*--------------------------  Filewell menu themes  -------------------------*/

.filewell__list {
    & > li {
        & > a {
            font-size: 16px;
            text-align: center;
        }
    }
}


/*-------------------------  User settings module  --------------------------*/

.us__banner{
    background: $color-lines;
}

.us__tab{
    a {
        font-size: 16px;
    }
    background-color: #e8e8e8;

    &.active {
        background: $color-bg-light;
    }
}

.us__info--section{
    overflow: hidden;
    margin: 0 0 $half-spacing-unit 0;
}

.us__info--key{
    font-size: 16px;
    font-weight: 600;
}


/*----------------------  Collaboration module themes  ----------------------*/


.collab__add-field {
    background: $color-bg-light !important; /* need important to override typeahead.. */
}

.collab__notify-email {
    cursor: pointer;
}

.collab__sharee-remove-fake {
    color: transparent;
    cursor: default;
}

.collab__sharee-note {
    color: #888;
}

.collab__notify-message textarea {
    font-size: 12px;
}

.collab__student-info-item {
    label, input {
        font-size: 12px;
    }
}

/*----------------------  Notification module themes  -----------------------*/

.notifs__box {
    background: #d3d8e2;
    background: rgba(211, 216, 226, 0.8);
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 3px #ddd;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.1);
}


.notif {
    background: $color-bg-base;
    cursor: pointer;
    box-shadow: 2px 2px 3px #ddd;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) !important;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) !important;
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) !important;

    a {
        cursor: pointer;
    }

    p, span {
        font-size: 12px;
        color: #444;
        line-height: 16px;
    }
}


.notif__icon {
    font-size: 24px;
}

.notif__icon--add {
    color: #3182bd;
}

.notif__icon--comment {
    color: #6cb37a;
}

.notif__content--ts {
    font-size: 11px !important;
}

.notif__close-tab {
    color: transparent;
}


/*-----------------------  Grid plot/analysis styles  -----------------------*/

.grid-op__descrip {
    font-size: 12px;
    color: #92959c;
}

.grid-op__btn-label {
    color: $color-click;
    font-size: 12px;
    font-weight: 600;
}


/*--------------------------  Action panel themes  --------------------------*/

.action-panel {
    background: $color-bg-light;
    border-color: $color-lines;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

/*-----------------------------  Themes themes  -----------------------------*/

.themes__save {
    border-color: $color-lines;

    label {
        color: #69738a;
    }
}

.themes__thumb {
    border-color: $color-lines;

    &:hover {
        border-color: #69738a;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }

    &:hover .close{
        display:inline-block;
    }

    &:hover .themes__theme-caption {
        border-color: #69738a;
        color: $color-bg-light;
        background: #69738a;
    }
}

.themes__theme-caption {
    background: rgba(169,179,199,0.1);
    color: #69738a;
    font-size: 12px;
    border-color: $color-lines;
}

/*-------------------------  Examples/demos themes  -------------------------*/

.examples__type {
    color: $color-click;
}

/*.examples__thumbnails {
    img {
        border-color: ;
    }
}
*/

/*----------------------------  Popover themes  -----------------------------*/

.popover {
    background: $color-bg-light;
    border-color: $color-lines;
    border-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.popover__header-label {
    font-weight: 600;
}


/*--------------------------  Minimal tabs themes  --------------------------*/

.minimal-tabs {
    & > li {
        background: #e8e8e8;

        &.current {
            background: $color-bg-light;
        }
    }
}

.minimal-tabs--alt {
    & > li {
        background: $color-bg-light;
        border-color: $color-lines;

        &.current {
            background: #f5f5f5;
            border-bottom-color: #f5f5f5;
        }
    }
}

.content-panel {
    background: $color-bg-light;
}

.content-panel--alt {
    background: #f5f5f5;
    border-color: $color-lines;
}

/*---------------------------  Fit module themes  ---------------------------*/

.fit__overview-title {
    font-weight: 600;
    font-size: 14px;
}

.fit__trace-axis {
    margin-bottom: $half-spacing-unit/2;
}

.fit__trace-axis-label {
    font-weight: normal;
    font-size: 12px;
    background: $color-click;
    border-color: $color-click;
    color: $color-bg-light;
}

.fit__eqn {
    font-style: italic;
    font-size: 12px;
}

.fit__guess-curve {
    font-size: 12px;
}

.fit__cta-btns {
    background: $color-bg-light;
}

.fit__results-table {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-size: 14px;
}


/*-----------------------------  Error themes  ------------------------------*/

.error__form-field, .error__form-field:focus {
    border: 1px solid #f1828f !important;
}

.error__tooltip {
    margin-left: 5px;

    .tipsy-inner {
        text-align: left;
        background-color: #f1828f;
    }
    .tipsy-arrow-n {
        border-bottom-color: #f1828f;
    }
    .tipsy-arrow-w {
        border-right-color: #f1828f;
    }
}

/*****************************************************************************/
/*                              Splash themes                                */
/*****************************************************************************/

/*-----------------------------  Layout styles  -----------------------------*/

#splash-header {
    background: $color-bg-light;
}


/*-----------------------------  Banner module  -----------------------------*/

.banner__text {
    color: $color-brand-primary;
}

/*--------------------------------  Headings  -------------------------------*/

.heading {
    font-weight: 400;
    color: $color-brand-accent;
}

.subheading {
    font-weight: 400;
    color: #444;
    background: $color-bg-darker;
}

.heading--plain {
    font-weight: 400;
}

.subsubheading {
    font-weight: 600;
}

.heading--list {
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
}

.statement {
    font-weight: 300;
    color: $color-brand-accent;
}

/*-------------------------  Other content classes  -------------------------*/

.img-caption {
    font-style: italic;
    font-size: 12px;
}

.img--border {
    border-color: $color-lines;
}

/*-----------------------  Product "feature" module  ------------------------*/


.feature__list {
    li {
        color: #222;
    }
}

.feature__img {
    border-color: $color-lines;
    background: aliceblue;
}


/*------------------------------  Bar module  -------------------------------*/

.bar {
    color: #444;
    -webkit-font-smoothing: antialiased;
}

.bar__inner {
    background: $color-bg-base;
}


/*--------------------------  Testimonial module  ---------------------------*/

.testimonial__quote {
    background: $color-bg-light;
    border-color: #eaeaea;
    font-size: 16px;
    line-height: 1.5;
}

.testimonial__author {
    font-size: 16px;
}

.testimonial__author--details {
    color: #888;
    font-size: 14px;
}


/*-------------------  Note module (not really a module)  -------------------*/

.note {
    font-size: 14px;
    color: #888;
    font-weight: 400;
}


/*-------------------------  Inuit table component  -------------------------*/

.table--striped {
    tbody tr:nth-of-type(odd) {
        background-color: $color-bg-base;
    }
}


/*****************************************************************************/
/*                             User home themes                              */
/*****************************************************************************/

html.base-generic, html.splash {
    background: $color-bg-base;
}

html.marketing {
    background: $color-bg-base;
}

html.profile {
    background: $color-bg-darker;
}

html.base-generic, html.profile, html.splash, html.marketing {

    .header-bar--primary {
        background: $color-bg-light;
    }

    .header-bar--secondary {
        background: $color-bg-darker;
        border-color: $color-lines;
        color: $color-brand-accent;
        .link--primary-nav {
            font-size: 13px;
        }
    }

    .header-bar__inner--breadcrumb {
        text-align: left;
    }

    #main {
        border-color: $color-lines;
    }

    footer {
        background: $color-bg-darker;
        border-top: 1px solid $color-lines;
    }
}

html.splash {
    #main-inner {
        opacity: 0.15;
    }
}

html.user-home, html.is-shareplot {
    #main {
        background: $color-bg-base;
    }

    .header-bar {
        background: $color-bg-light;
    }

    #main {
        border-color: $color-lines;
    }
}

/*-------------------------  Section label module  --------------------------*/

.section-label {
    color: $color-click;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

.section-label__icon {
    font-size: 16px;
}

/*for font awesome*/
.section-label__icon--fa {
    font-size: 18px;
}


/*----------------------------  List box module  ----------------------------*/

.list-box {
    color: $color-click;
    font-size: 12px;
}

.list-box__thumbs {
    img {
        opacity: 0.8;
    }
}

.list-box__thumb-link {
    &:hover {
        img {
            opacity: 1;
        }
    }
}

/*---------------------------  Feed item module  ----------------------------*/

.feed-item__title {
    /*font-size: 24px;*/
}

.feed-item__user {
    color: #a0a6b3;
}

.feed-item__user-icon {
    opacity: 0.8;
}

.feed-item__verb {
    color: #a0a6b3;
}

.feed-item__img-and-social {
    border-color: #a0a6b3;
}

.feed-item__img-wrap {
    img {
        opacity: 0.95;

        &:hover {
            opacity: 1;
        }
    }
}

.feed-item__social-bar {
    background: #eee;
    color: #000;
    border-top-color: #ccc !important;
}

.feed-item__like-icon {
    font-size: 24px;
}

.feed-item__social-media-icon {
    font-size: 16px;
    background: $color-bg-base;
    border-color: #ccc !important;

    &:hover {
        color: $color-brand-primary;
        border-color: $color-lines;
        background: $color-bg-light;
    }
}

.feed-item__show-facebook {
  height: 20px;
  display: inline-block;
  vertical-align: text-bottom;
  overflow: hidden;
}

.feed-item__caption {
    background: #eee;
    color: $color-click;
    border-color: $color-lines;
}

.feed-item__tag {
    background: #a0a6b3;
    color: $color-bg-light;
}

/*****************************************************************************/
/*                          Shareplot 2.0 themes                             */
/*****************************************************************************/

.shareplot__file-header-bar {
    /*background: rgba(207, 210, 216, 0.5);*/
    background: $color-bg-darker;
    border-color: $color-lines;
}

.shareplot__file-title {
    font-size: 24px;
    font-weight: 600;
    color: $color-click;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 850px;
    overflow: hidden;
}

.shareplot__other-file-link {
    font-size: 36px;
    line-height: 1;
    opacity: 0.9;

    img {
        border-color: $color-click;
    }

    &:hover {
        opacity: 1;
    }
}

.shareplot__other-file-link--prev {

}

.shareplot__other-file-link--next {

}


/*****************************************************************************/
/*                               Profile themes                               */
/*****************************************************************************/

.profile__heading {
    color: $color-brand-primary;
}

/*****************************************************************************/
/*                             Shareplot themes                              */
/*****************************************************************************/

.share--fb {
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    background: #eceef5;
    border-color: #cad4e7;
    cursor: pointer;
    color: #3b5998;
}

/*****************************************************************************/
/*                             Marketing Page themes                         */
/*****************************************************************************/

.marketing-section--grey {
    background-color: #e0e2e5;
}

.marketing-section--blue {
    color:white;
    background-color: rgb(59, 68, 115);
}

.marketing-section--darkgrey {
    color:white;
    background-color: #444;
}

.marketing-feature-desc {
    color: #888;
    font-size: 8pt;
}

.marketing-header--bold {
    font-weight: 600;
    color: #888;
}

.marketing-header--white {
    color: #FFF;
}


.plans {

    font-size: 12px;
    background-color: white;

    th {
        width:240px;
        text-align: left;
        border: solid 1px $color-lines;
    }

    tr {
       //border: solid 1px $color-lines;
    }

    td {
        border: solid 1px $color-lines;
        text-align: center;
    }

    .grey-accent {
        background-color: #e0e2e5;
    }

    .row-accent {
        background-color: #F1F5FB;
    }

}


