$color-brand-primary: #447adb;
$color-brand-accent: #1d3b84;

$color-bg-base: #f3f3f3;
$color-bg-light: #fff;
$color-bg-darker: #e0e2e5;
$color-brand-tint: #a9b3c7;
$color-bg-hint: #edf1f8;
$color-bg-pay-attention: #fee186;


$color-click: #69738a;
$color-lines: #ccc;
$color-inline-code: #db44a5;
$color-muted-text: #777;


$static-url: "/static";
$font-url: "#{$static-url}/plotlyjs/src/fonts";

$zIndex: 1001;
