/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css '_vars.scss' that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your '$base-font-size' at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */


/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css' objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       false;
$use-columns:       true;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    true;
$use-media:         true;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        true;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        true;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       true;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css' defaults here.
 */

$base-font-size:    14px!default;
$base-line-height:  21px!default;



/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */

$color-brand-primary: #447adb;
$color-brand-accent: #1d3b84;

$color-bg-base: #f3f3f3;
$color-bg-light: #fff;
$color-bg-darker: #e0e2e5;
$color-brand-tint: #a9b3c7;
$color-bg-hint: #edf1f8;
$color-bg-pay-attention: #fee186;


$color-click: #69738a;
$color-lines: #ccc;
$color-inline-code: #db44a5;
$color-muted-text: #777;





