---
permalink: javascript/3d-charts/
description: Plotly.js makes interactive, publication-quality graphs online. Examples of how to make 3D graphs such as 3D scatter and surface charts.
name: 3D Charts
layout: langindex
language: plotly_js
display_as: 3d_charts
thumbnail: thumbnail/mixed.jpg
---


<header class="--welcome">
	<div class="--welcome-body">
		<!--div.--wrap-inner-->
		<div class="--title">

			<div class="--body">
				<h1>Plotly.js 3D Charts</h1>
				<p>{{page.description}}</p>
				{% include layouts/dashplug.html %}
			</div>
		</div>
	</div>
</header>

		{% assign languagelist = site.posts | where:"language","plotly_js" | where:"display_as","3d_charts" | where: "layout","base" | sort: "order" %}
        {% include posts/documentation_eg.html %}
