.select-outline {
    fill: none;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.select-outline-1 {
    stroke: white;
}
.select-outline-2 {
    stroke: black;
    stroke-dasharray: 2px 2px;
}