.modebar {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 1001;
}

.modebar--hover {
    opacity: 0;
    @include vendor('transition', opacity 0.3s ease 0s);
}

&:hover .modebar--hover {
    opacity: 1;
}

.modebar-group {
    float: left;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 8px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.modebar-btn {
    position: relative;
    font-size: 16px;
    padding: 3px 4px;
    height: 22px;
    /* display: inline-block; including this breaks 3d interaction in .embed mode. Chrome bug? */
    cursor: pointer;
    line-height: normal;
    box-sizing: border-box;

    svg {
        position: relative;
        top: 2px;
    }

    &.modebar-btn--logo {
        font-size: 20px;
    }
}

.modebar.vertical {
    .modebar-group {
        display: block;
        float: none;
        margin-left: 0px;
        margin-top: 8px;

        .modebar-btn {
            display:block;
            text-align: center;
        }
    }
}
