@import "vars.scss";

.js-plotly-plot .plotly {
    @import "mixins.scss";
    @import "base.scss";
    @import "cursor.scss";
    @import "modebar.scss";
    @import "tooltip.scss";
    @import "drag.scss";
}
@import "notifier.scss";
