markdown>=3.10
python-frontmatter>=1.1.0
ruff>=0.14.4
mkdocs>=1.6.1
mkdocs-material>=9.6.23
mkdocs-gen-files>=0.5.0
mkdocs-literate-nav>=0.6.2
markdown-include>=0.8.1
mkdocs-macros-plugin>=1.4.1
mkdocs-redirects>=1.2.2